/* note: delete the unused fonts before hosting */
:root {
	--rosewater: #f2d5cf;
	--mauve: #ca9ee6;
	--yellow: #e5c890;
	--mantle: #292c3c;
	--base: #303446;
	--pink: #f4b8e4;
	--text: #c6d0f5;

}

body {
	background-color: var(--mantle);
	color: var(--text);
	font-family: 'JetBrains Mono', monospace;
}


.quote-text {
	height: 100px;
	line-height: 100px;
	text-align: center;
	font-size: 2.3rem;
	color: var(--rosewater);
}

.searchbar {
	text-align: center;
}

.searchbar>form>input[type=text] {
	width: 50%;
	padding: 5px 10px;
	font-family: 'JetBrains Mono', monospace;
	font-size: 1.5rem;
	color: var(--text);
	background-color: transparent;
	border: none;
	border-bottom: 3px solid var(--yellow);
}

.searchbar>form>input[type=text]:focus {
	border-bottom: 3px solid var(--pink);
	outline: none;
}

.container {
	display: flex;
	justify-content: center;
}

.card {
	background-color: var(--base);
	margin: 1.5%;
	padding: 2%;
	width: 200px;
	height: 240px;
	border-radius: 10px;
}

.card {
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-title {
	color: var(--yellow);
	margin-top: 0;
	margin-bottom: 1%;
	text-align: center;
	font-size: 1.8rem;
}

.link-list {
	list-style: none;
	padding: 0;
}

.card>div>ul>li::before {
	content: "> ";
	font-weight: bold;
	color: var(--mauve);
}

.link {
	font-size: 1.3rem;
	font-style: italic;
	color: var(--text);
	text-decoration: none;
}

.underline-animation {
	position: relative;
}

.underline-animation::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: var(--pink);
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
	transform: scaleX(0)
}

.underline-animation:hover {
	color: var(--rosewater)
}

.underline-animation:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.copyright {
	text-align: center;
	color: var(--mauve);
	opacity: 0.2;
}